.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
  gap: 64px;
}

.home > div {
  width: 100%;
}

.home .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 64px;
  gap: 8px;
}

.home .hero > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.home .hero button div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
}

.home .hero h3,
.home .hero h1,
.home .hero p,
.home .workingExp h5,
.home .myWork p {
  text-align: center;
}

.home .workingExp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0px;
  gap: 8px;

  background: rgba(38, 47, 54, 0.1);
}

.home .workingExp svg {
  height: 48px;
  width: auto;
}

.home .myWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 64px;
  gap: 8px;

  position: relative;
}

.home .extraSpaceForOutOfFlowImageGallery {
  /* Card top-bottom padding (32px) 
  + imageHeight (165px) */
  height: 197px;
}

/******                        Hero Button Style                                  ********/
.home .hero button {
  background: linear-gradient(90deg, #4b6ed6 0%, #4b70d5 6.25%, #4d89c0 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border-width: 0;

  cursor: pointer;
}

.home .hero button:hover {
  background: linear-gradient(
    90deg,
    #4b6ed6f6 0%,
    #4b70d5f6 6.25%,
    #4d89c0f6 100%
  );
}

.home .hero button div {
  /* transition: padding 0.4s 0.2s, gap 0.2s; */
  transition: padding 0.3s ease-out;
}

.home .hero button:hover div {
  /* padding: 32px 48px 16px 48px; */
  padding: 22px 24px 10px 24px;
}

/******                        Hero Button Style                                  ********/

/******                        Typography & Text Color                            ********/
.home .hero button h6 {
  color: #ffffff;
}

.home .hero h3 {
  background: linear-gradient(90deg, #4b6ed6 0%, #4b70d5 6.25%, #4d89c0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.home .hero p,
.home .myWork p {
  color: rgba(38, 47, 54, 0.75);
}
/******                        Typography & Text Color                            ********/





@media only screen and (min-width: 700px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 128px 0px;
    gap: 128px;
  }

  .home > div {
    width: 100%;
  }

  .home .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 128px;
    gap: 16px;
  }

  .home .hero > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;
  }

  .home .hero button div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    gap: 16px;
  }

  .home .hero h3,
  .home .hero h1,
  .home .hero p,
  .home .workingExp h5,
  .home .myWork p {
    text-align: center;
  }

  .home .workingExp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px;
    gap: 16px;

    background: rgba(38, 47, 54, 0.1);
  }

  .home .workingExp svg {
    height: 48px;
    width: auto;
  }

  .home .myWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 128px;
    gap: 16px;

    position: relative;
  }

  .home .extraSpaceForOutOfFlowImageGallery {
    /* Card top-bottom padding (32px) 
  + imageHeight (165px) */
    height: 197px;
  }

  /******                        Hero Button Style                                  ********/
  .home .hero button:hover div {
    /* padding: 32px 48px 16px 48px; */
    padding: 22px 32px 10px 32px;
  }

  /******                        Hero Button Style                                  ********/
}

@media only screen and (min-width: 1200px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 256px 0px;
    gap: 256px;
  }

  .home > div {
    width: 100%;
  }

  .home .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 256px;
    gap: 32px;
  }

  .home .hero > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 96px;
  }

  .home .hero button div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 48px;
    gap: 16px;
  }

  .home .hero h3,
  .home .hero h1,
  .home .hero p,
  .home .workingExp h5,
  .home .myWork p {
    text-align: center;
  }

  .home .workingExp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 32px;

    background: rgba(38, 47, 54, 0.1);
  }

  .home .workingExp svg {
    height: 64px;
    width: auto;
  }

  .home .myWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 256px;
    gap: 32px;

    position: relative;
  }

  .home .extraSpaceForOutOfFlowImageGallery {
    /* Card top-bottom padding (32px) 
  + imageHeight (165px) */
    height: 197px;
  }

  /******                        Hero Button Style                                  ********/
  .home .hero button:hover div {
    /* padding: 32px 48px 16px 48px; */
    padding: 30px 48px 18px 48px;
  }

  /******                        Hero Button Style                                  ********/
}
