.swiper-button-next,
.swiper-button-prev {
  --swiper-nav-height: 32px;
  --swiper-nav-width: 32px;
  --swiper-nav-color: #4b6ed6;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  /* width: calc(var(--swiper-nav-height) / 44 * 27); */
  width: var(--swiper-nav-width);
  height: var(--swiper-nav-height);
  margin-top: calc(0px - (var(--swiper-nav-height) / 2));

  /* if --swiper-nav-color not defined, use white */
  stroke: var(--swiper-nav-color, "#ffffff");
}

.swiper .swiper-button-prev {
  left: -5px;
}
.swiper .swiper-button-next {
  right: -5px;
}

/* set default nav button's display to none */
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  display: none;
}

.swiper .swiper-pagination-bullet-active {
  background: #4b6ed6;
}
