@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  display: flex;
  width: 100%;
}

#root {
  width: 100%;
}

/*Typography */
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  
  color: rgba(38, 47, 54, 1);
}

h1, h2, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;

  color: rgba(38, 47, 54, 1);
}

h1 {
  font-size: 119px;
  line-height: 144px;
}

h2{
  font-size: 84px;
  line-height: 112px;  
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 59px;
  line-height: 72px;   
}

h4 {
  font-size: 42px;
  line-height: 48px;  
}

h5 {
  font-size: 30px;
  line-height: 40px;  
}

h6 {
  font-size: 21px;
  line-height: 30px;  
}

.h3_bold {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 59px;
  line-height: 72px;    
}
/*Typography */