@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@700&display=swap");

.menu {
  background-color: #ffffff;
  width: 256px;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  text-align: right;
  gap: 16px;
}

.menu a {
  text-decoration: none;

  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;

  color: #262f36;
}

.menu ul {
    display: flex;
    flex-direction: column;
}

.menu .iconContainer {
    padding: 32px 64px 32px 0px;
}

/* .menu ul li {
    padding: 8px 0px; 
} */

.menu ul li:hover {
    background-color: rgba(38, 47, 54, 0.1);
}

.menu ul li a {
  display: flex;
  justify-content: flex-end;
  padding: 8px 64px 8px 0px;
}
